@import "main_light.css";

#text {
    /* width: 100%; or any specific width */
    border: 1px solid white;
    padding: 20px 20px 20px 20px;
    background-color: white;
}

.left-side {
    max-width: calc(100% - 290px); ;
}

.dict {
    padding: 20px 20px 20px 20px;
    background-color: lightblue;
    min-width: 250px;
    max-width: 250px;
    position: fixed;
    right: 10px;
    top: 10px;
    bottom: 10px;
}

.search {
    min-width: 250px;
    max-width: 250px;
    min-height: 50px;
    max-height: 50px;

}

.description {
    padding: 20px 20px 20px 20px;
    border: solid black;
    min-height: 210px;
    min-width: 210px;
}

.main-area {
    display: flex;
    justify-content: space-between;
}

.unknown_word {
    font-size: 15px;
    white-space: pre;
    cursor: pointer;
    display: inline-block;
    color:rgb(221, 43, 43);
}

.known_word {
    font-size: 15px;
    white-space: pre;
    cursor: pointer;
    display: inline-block;
}

.new_word {
    font-size: 15px;
    white-space: pre;
    cursor: pointer;
    display: inline-block;
    color:rgb(68, 44, 174);
}

.half_known_word {
    font-size: 15px;
    white-space: pre;
    cursor: pointer;
    display: inline-block;
    color:rgb(250, 243, 21);
}



/* .top-bar {
    position: fixed;
    top: 20px;  
    left: 50%;
    transform: translateX(-50%);
    width: 80%; 
    max-width: 600px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
