@import "main_light.css";

#text {
    /* width: 100%; or any specific width */
    border: 1px solid white;
    padding: 20px 20px 20px 20px;
    background-color: white;
}

.word {
    font-size: 15px;
    margin-right: 5px;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
}

.highlighted_word {
    font-size: 15px;
    margin-right: 5px;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    color:rgb(43, 105, 172);
}

/* .top-bar {
    position: fixed;
    top: 20px;  
    left: 50%;
    transform: translateX(-50%);
    width: 80%; 
    max-width: 600px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
